body {
  background-color: rgb(34, 35, 36);
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(51, 52, 54);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 600px;
  background-color: rgb(39, 40, 41);
}

h1 {
  font-size: 50px;
  color: rgb(213, 224, 255);
}

h4 {
  color: rgb(213, 224, 255);
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

button,
startQuiz {
  border-radius: 20px;
  font-size: 20px;
  width: 130px;
  height: 60px;
  color: rgb(24, 26, 29);
  margin-top: 50px;
  background-color: rgb(115, 122, 160);
}

p {
  font-size: 20px;
  color: rgb(213, 224, 255);
}

newSection {
  width: 100px;
  height: 100px;
  background-color: gray;
}
